* {
    margin: 0;
    padding: 0;
}


.headTitle {
    margin-top: 10px;
}

#Logo {
    height: 84px;
    padding-left: 4px;
}

.card-body {
    padding-bottom: 5px !important;
}

.nav {
    background-color: rgb(16, 148, 11);
    height: 15vh;
    /* display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px; */
}

.line {
    margin: auto;
    width: 23vw;
    height: 0.5vh;
    background-color: red;
    border-radius: 20px;
}


#cardBody {
    width: 54vw;
    margin-top: 1.5rem;
}

.timeText {
    padding: 0px 5px 0px 10px;
}

/* media quries */
@media only screen and (max-width: 605px) {
    #cardBody {
        width: 96vw;
    }

    .timeText {
        font-size: 0.9rem;
    }

    .headTitle {
        margin-top: 28px;
    }
}