* {
    margin: 0;
    padding: 0;
}

.headTitle {
    margin-top: 10px;
}

#Logo {
    height: 84px;
    padding-left: 4px;
} 

.card-body {
    padding-bottom: 5px !important;
}

.nav {
    background-color: rgb(12, 173, 34);
    height: 15vh;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0px;
    margin-left: 1rem;
}

.line {
    margin: auto;
    width: 23vw;
    height: 0.5vh;
    background-color: red;
    border-radius: 20px;
}


#cardBody {
    width: 54vw;
    margin-top: 1.5rem;
}

.timeText {
    padding: 0px 5px 0px 10px;
}

.copyright{
    background-color: rgb(213, 237, 255);
    height: 15vh;
    padding: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);    
}

.filter-button{
    background-color: rgb(75, 137, 207);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
}
/* media quries */
@media only screen and (max-width: 605px) {
    #cardBody {
        width: 96vw;
    }

    .timeText {
        font-size: 0.9rem;
    }

    .headTitle {
        margin-top: 28px;
    }

    
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


.footer2{
  position: relative;
  width: 100%;
  background: #3586ff;
  height: 20vh;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 110px;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}
